<ion-app>
  <ion-menu slide="start" type="push" contentId="main" menuId="leftMenu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Left menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item [routerLink]="['/home']">
            <ion-icon name="home" color="secondary"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;
            <ion-label>Home</ion-label>
          </ion-item><br />

          <ion-item *ngIf="userCredentials.businessUserUID" [routerLink]="['/addproduct','add']">
            <ion-icon name="add-circle-outline" color="secondary"></ion-icon> &nbsp;&nbsp;&nbsp;
            <ion-label>Add</ion-label>
          </ion-item><br />

          <ion-item *ngIf="userCredentials.businessUserUID" [routerLink]="['/addproduct','edit']">
            <ion-icon name="add-circle-outline" color="secondary"></ion-icon> &nbsp;&nbsp;&nbsp;
            <ion-label>Edit</ion-label>
          </ion-item><br />

          <ion-item *ngIf="userCredentials.UID" [routerLink]="['/shoppingcart']">
            <ion-icon name="cart" color="secondary"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;
            <ion-label>Shopping cart</ion-label>
          </ion-item><br />

          <ion-item *ngIf="userCredentials.UID" [routerLink]="['/feedback']">
            <ion-icon name="list" color="secondary"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;
            <ion-label>Feedback</ion-label>
          </ion-item><br />

          <ion-item *ngIf="userCredentials.UID" (click)="userLogout()" style="cursor: pointer;">
            <ion-icon name="person-remove-outline" color="danger"></ion-icon> &nbsp;&nbsp;&nbsp;
            <ion-label>Logout</ion-label>
          </ion-item>

        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>